name: Test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: |
          npm install

      - name: Run tests with coverage
        run: |
          npm run test -- --coverage

      - name: Generate coverage badge
        uses: tj-actions/coverage-badge-js@v2
        with:
          report_path: coverage/coverage-summary.json
          output_path: coverage-badge.svg

      - name: Commit badge
        uses: EndBug/add-and-commit@v9
        with:
          add: "coverage-badge.svg README.md"
          message: "chore(ci): update coverage badge"
          default_author: github_actions
